<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="home/home">

<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUserModal">
                        New Role
                    </button>

                    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Create Role</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post" th:name="createRoleForm" name="createForm" th:id="createRoleForm" id="createRoleForm" th:action="@{/createRole}" th:object="${roleForm}" th:fragment="roleForm">
                                        <input type="text" class="form-control" placeholder="Role Name" id="roleName" th:field="*{roleName}"/>
                                        <input type="text" class="form-control" placeholder="Role Description" id="roleDescription"  th:field="*{roleDescription}"/>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close
                                    </button>
                                    <button id="submit" type="button" class="btn btn-sm btn-success">Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    Roles
                </div>
                <div class="card-body no-padding">
                    <table id="roletable" class="datatable table table-striped primary" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Role </th>
                            <th>Description</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${roles.empty}">
                            <td colspan="3">No roles found.</td>
                        </tr>
                        <tr th:id="role" th:each="role : ${roles}">
                            <td th:text="${role.rolename}">ADMIN</td>
                            <td th:id="desc" th:text="${role.description}">ADMIN USER</td>
                            <td th:id="trash"><a href="#">
                                <div th:id="${role.rolename}"><i class="fa fa-trash"></i></div>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Role</h4>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button id="delete" type="button" class="btn btn-sm btn-danger" onclick="">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

</html>