<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="home/home">

<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUserModal">
                        New User
                    </button>

                    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Create User</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post" th:name="createForm" name="createForm" th:id="createForm"
                                          id="createForm" th:action="@{/createUser}" th:object="${signupForm}"
                                          th:fragment="signupForm">
                                        <input type="text" class="form-control" placeholder="Email" id="email"
                                               th:field="*{email}"/>
                                        <input type="text" class="form-control" placeholder="Username" id="username"
                                               th:field="*{username}"/>
                                        <input type="text" class="form-control" placeholder="Password" id="password"
                                               th:field="*{password}"/>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close
                                    </button>
                                    <button id="submit" type="button" class="btn btn-sm btn-success">Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    Users
                </div>
                <div class="card-body no-padding">
                    <table id="usertable" class="datatable table table-striped primary" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Is Admin</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${users.empty}">
                            <td colspan="3">No users found.</td>
                        </tr>
                        <tr th:id="user" th:each="user : ${users}">
                            <td th:text="${user.email}">Tiger Nixon</td>
                            <td th:id="username" th:text="${user.username}">tnixon</td>
                            <td>
                                <div th:if="${user.isAdmin}"><i class="fa fa-check"></i></div>
                            </td>
                            <td th:id="trash"><a href="#">
                                <div th:id="${user.username}"><i class="fa fa-trash"></i></div>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    // data-toggle="modal" data-target="#deleteUserModal"
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button id="delete" type="button" class="btn btn-sm btn-danger" onclick="">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

</html>