<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Crow - Continuous Release Orchestration Workflow</title>

    <div th:include="fragments/head :: head"></div>

</head>
<body>
<div class="app app-default">

    <span th:include="fragments/leftnav :: leftnav"></span>

    <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
        <div class="dropdown-background">
            <div class="bg"></div>
        </div>
        <div class="dropdown-container">
            {{list}}
        </div>
    </script>
    <div class="app-container">

        <span th:include="fragments/topnav :: topnav"></span>

        <span th:include="fragments/floatingAction :: floater"></span>

        <div class="row">
            <div class="col-xs-12">
                <div class="card card-banner card-chart card-green no-br">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Total Deploys</div>
                        </div>
                        <ul class="card-action">
                            <li>
                                <a href="/">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="ct-chart-sale"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a class="card card-banner card-green-light">
                    <div class="card-body">
                        <i class="icon fa fa-shopping-basket fa-4x"></i>

                        <div class="content">
                            <div class="title">Deploys Today</div>
                            <div class="value"><span class="sign"></span>420</div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a class="card card-banner card-blue-light">
                    <div class="card-body">
                        <i class="icon fa fa-thumbs-o-up fa-4x"></i>

                        <div class="content">
                            <div class="title">Features In-Progress</div>
                            <div class="value"><span class="sign"></span>2453</div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a class="card card-banner card-yellow-light">
                    <div class="card-body">
                        <i class="icon fa fa-user-plus fa-4x"></i>

                        <div class="content">
                            <div class="title">New Features</div>
                            <div class="value"><span class="sign"></span>50</div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card card-mini">
                    <div class="card-header">
                        <div class="card-title">Last Statuses</div>
                        <ul class="card-action">
                            <li>
                                <a href="/">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body no-padding table-responsive">
                        <table class="table card-table">
                            <thead>
                            <tr>
                                <th>Project</th>
                                <th class="right">No of Features</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Mobile-Andriod</td>
                                <td class="right">12</td>
                                <td><span class="badge badge-success badge-icon"><i class="fa fa-check"
                                                                                    aria-hidden="true"></i><span>Complete</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>CMS</td>
                                <td class="right">5</td>
                                <td><span class="badge badge-warning badge-icon"><i class="fa fa-clock-o"
                                                                                    aria-hidden="true"></i><span>Pending Approval</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Mobile-iOS</td>
                                <td class="right">1</td>
                                <td><span class="badge badge-info badge-icon"><i class="fa fa-credit-card"
                                                                                 aria-hidden="true"></i><span>In Progress</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Membership</td>
                                <td class="right">10</td>
                                <td><span class="badge badge-danger badge-icon"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i><span>Cancelled</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>PROD</td>
                                <td class="right">6</td>
                                <td><span class="badge badge-primary badge-icon"><i class="fa fa-truck"
                                                                                    aria-hidden="true"></i><span>Shipped to Production</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>UX</td>
                                <td class="right">40</td>
                                <td><span class="badge badge-info badge-icon"><i class="fa fa-credit-card"
                                                                                 aria-hidden="true"></i><span>In Progress</span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'"></div>
    </div>

</div>

<div th:include="fragments/jsFragment :: jsinclude"></div>

</body>
</html>