<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Dashboard - Crow - Continuous Release Orchestration Workflow</title>

    <div th:include="fragments/head :: head"></div>

</head>
<body>
<div class="app app-default">

    <span th:include="fragments/leftnav :: leftnav"></span>

    <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
        <div class="dropdown-background">
            <div class="bg"></div>
        </div>
        <div class="dropdown-container">
            {{list}}
        </div>
    </script>


    <span th:include="fragments/topnav :: topnav"></span>

    <span th:include="fragments/floatingAction :: floater"></span>

    <div class="app-container" layout:fragment="content">

        <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'"></div>

    </div>

</div>

<div th:include="fragments/jsFragment :: jsinclude"></div>

</body>
</html>