<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer">
    <footer class="app-footer">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-copyright">
                    Copyright © 2016 TechAxons
                </div>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="footer-admin">
    <footer class="app-footer">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-copyright">
                    Copyright © 2016 TechAxons - Admins
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>