<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="../static/css/vendor.css" th:href="@{static/css/vendor.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flat-admin.css" th:href="@{static/css/flat-admin.css}"/>

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="../static/css/theme/blue-sky.css"
          th:href="@{static/css/theme/blue-sky.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/theme/blue.css" th:href="@{static/css/theme/blue.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/theme/red.css" th:href="@{static/css/theme/red.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/theme/yellow.css"
          th:href="@{static/css/theme/yellow.css}"/>

    <link rel="shortcut icon" href="../images/favicon.ico" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" href="../images/favicon.ico" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
</div>

</html>