<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="leftnav">

    <aside class="app-sidebar" id="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-brand" href="#"><span class="highlight">Crow</span> Dashboard</a>
            <button type="button" class="sidebar-toggle">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="sidebar-menu">
            <ul class="sidebar-nav">
                <li class="active">
                    <a href="../home/home.html" th:href="@{/authSuccess}">
                        <div class="icon">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li class="@@menu.messaging">
                    <a href="#">
                        <div class="icon">
                            <i class="fa fa-code-fork" aria-hidden="true"></i>
                        </div>
                        <div class="title">Feature Status</div>
                    </a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="icon">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                        </div>
                        <div class="title">Workflow Studio</div>
                    </a>

                    <div class="dropdown-menu">
                        <ul>
                            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Editor</li>
                            <li><a href="#">Build New</a></li>
                            <li><a href="#">All Workflows</a></li>
                            <li class="line"></li>
                            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Execution Status</li>
                            <li><a href="#">View Status</a></li>

                        </ul>
                    </div>
                </li>
                <li class="dropdown" th:if="${#authentication.principal.isAdmin()}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="title">Administration</div>
                    </a>

                    <div class="dropdown-menu">
                        <ul>
                            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Security</li>
                            <li><a href="./admin/users.html" th:href="@{/users}">Users</a></li>
                            <li><a href="./pages/profile.html">Roles</a></li>
                            <li><a href="./pages/profile.html">Access control</a></li>
                            <li class="line"></li>
                            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> System</li>
                            <li><a href="./pages/login.html">Plugins</a></li>
                            <li><a href="./pages/register.html">Support</a></li>
                            <li><a href="./pages/register.html">System Info</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <ul class="menu">
                <li>
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </a>
                </li>
                <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
            </ul>
        </div>
    </aside>

</div>
</html>